includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
  level: max
  paths:
    - app
    - tests

  excludePaths:
    - bootstrap/*
    - storage/*
    - vendor/*
    - database/migrations/*
    - public/*

  checkUninitializedProperties: true

 